name: ASDF CI

on:
  push:
    paths-ignore:
      - "**.md"
      - ".all-contributorsrc"
  pull_request:
    paths-ignore:
      - "**.md"
      - ".all-contributorsrc"
  schedule:
    - cron: "0 0 * * 5"

jobs:
  plugin-test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@a3684980becbd89dd51423e4df5951e56d644e5b # v1.0.0
        with:
          command: mono --version
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }} # automatically provided
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      - name: Run ShellCheck
        run: shellcheck bin/*
  format:
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2
      - name: Install shfmt
        run: brew install shfmt
      - name: Run shfmt
        run: shfmt -d -i 2 -ci .
